* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  background-color: #fdf2e7;
  font-family: "Neue Montreal Regular", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #1c5739;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(28, 87, 57, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #1c5739;
  border-radius: 5px;
  font-size: 16px;
}

input[type="password"],
input[type="email"] {
  background-color: #ead885;
  color: #1c5739;
}

.nav-button {
  width: 100%;
  padding: 12px;
  background-color: #1c5739;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #164b2f;
}

.signup-link {
  text-align: center;
  margin-top: 15px;
}

.signup-link a {
  color: #1c5739;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.navbar-logo {
  flex: 0 0 auto;
}

.navbar-logo img {
  height: 80px;
  display: block;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  flex: 0 0 auto;
}

.navbar-links a {
  text-decoration: none;
  color: #043623;
  font-family: "Neue Montreal Regular", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #ead885;
}
